.anti-pattern {
  ul {
    padding: 0;
    margin: 20px;
    list-style: none;
  }
  
  li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    color: #3d3d3d;
    border: 1px solid #f0f0f0;
  }
  
  li:hover {
    
    border: 1px dashed #FF5722;
  }
  
  .example-leave {
    opacity: 1;
    
  }
  
  .example-leave.example-leave-active {
  
    transform: scaleX(.1) scaleY(.1);
    transition: all 300ms ease-in;
    background-color: #f00;
  }
  
}
